<div style="height: 100vh;">

  <mat-toolbar color="accent">
    <div fxShow="true" fxHide.gt-sm="true">

      <a href="#" (click)="sidenav.toggle()"><mat-icon style="padding-top: 20%;color: white;">menu</mat-icon></a>

    </div>

    <span style="padding-left: 5%; padding-right: 5%;">HOME PAGE</span>

    <span class="example-spacer"></span>

    <div fxShow="true" fxHide.lt-md="true">

      <!-- The following menu items will be hidden on both SM and XS screen sizes -->

      <a href="#" mat-button>ABOUT</a>

      <a href="#" mat-button>CONTACT</a>

      <a href="#" mat-button>SERVICES</a>

      <a href="#" mat-button>BRANCHES</a>


    </div>

    

  </mat-toolbar>

  <mat-sidenav-container fxFlexFill class="example-container">

    <mat-sidenav #sidenav fxLayout="column">

      <div fxLayout="column">

        <a (click)="sidenav.toggle()" href="#" mat-button>Close</a>

        <a href="#" mat-button>ABOUT</a>

      <a href="#" mat-button>CONTACT</a>

      <a href="#" mat-button>SERVICES</a>

      <a href="#" mat-button>BRANCHES</a>


      </div>

    </mat-sidenav>


  </mat-sidenav-container>

</div>